<section class="main_header">
    <div>
        <p class="nome"></p>
    </div>

    <div class="menu_header">
        <a class="about" href="#">About</a>
        <a class="projects" href="#">Projects</a>
        <a class="contact" href="#">Contact</a>

    </div>

</section>

<section class="section_header">

    <div class="main-texto_header">
        <div class="main-texto">{{ textoEdvaldo }}</div>
        <div class="sub-texto"> {{ subtexto }}</div>
    </div>
    <button>{{botaogetTouch}}</button>

</section>