@use 'src/resources/variables/colors' as *;
@use 'src/resources/variables/fonts' as *;
@use 'src/resources/variables/displayFlex' as *;

* {
    @include font;
}

.main_header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nome::before {
    content: "Plan";
    color: $destaque;
    font-family: $generalFonts;
    font-weight: 600;
    font-size: 2rem;
}

.nome::after {
    content: "tas";
    color: $generalColor;
    font-weight: 600;
    font-size: 2rem;
}

.menu_header {
    display: flex;
    align-self: flex-end;
}

a {
    margin-right: 20%;
}

.about::before {
    content: "1.";
    color: $destaque;
    font-family: $generalFonts;
    font-weight: 600;
}

.projects::before {
    content: "2.";
    color: $destaque;
    font-family: $generalFonts;
    font-weight: 600;
}
.galery::before {
    content: ".3";
    color: $destaque;
    font-family: $generalFonts;
    font-weight: 600;
}

.contact::before {
    content: "4.";
    color: $destaque;
    font-family: $generalFonts;
    font-weight: 600;
}

.section_header {
    height: 25vh;
    @include flexAbsolut(0px);
    justify-content: space-around;
}

.sub-texto {
    @include fontSmall;
}
