<section class="main_header">
    <div>
        <p class="nome"></p>
    </div>

    <div class="menu_header">
        <a class="about" href="#">Indor</a>
        <a class="projects" href="#">Ideas</a>
        <a class="galery" href="#">Galery</a>
        <a class="contact" href="#">Contact</a>

    </div>

</section>

<section class="section_header">

    <div class="main-texto_header">
        <div class="main-texto">{{ textoHellow }}</div>
        <div class="sub-texto"> {{ subtexto }}</div>
    </div>
    <button>{{botaoSortPlant}}</button>

</section>