@import 'src/resources/variables/colors.scss';
@import 'src/resources/variables/fonts.scss';
@import 'src/resources/variables/displayFlex.scss';

* {
    @include font;
}

.main_header {
    display: flex;
    justify-content: space-between;
    width: 85vw;

}

.nome::before {
    content: "Ed";
    color: $destaque;
    font: $generalFonts;
    font-weight: 600;
    font-size: 2.0rem;

}

.nome::after {
    content: "valdo";
    color: $generalFonts;
    font: $generalFonts;
    font-weight: 600;
    font-size: 2.0rem;
}

.menu_header {
    display: flex;
    align-self: self-end;

}

a {
    margin-right: 20%;
}

.about::before {
    content: "1.";
    color: $destaque;
    font: $generalFonts;
    font-weight: 600;
}

.projects::before {
    content: "2.";
    color: $destaque;
    font: $generalFonts;
    font-weight: 600;
}

.contact::before {
    content: "3.";
    color: $destaque;
    font: $generalFonts;
    font-weight: 600;
}



.section_header {
    height: 50vh;
    @include flexAbsolut(0px);
    justify-content: space-around;
}

.sub-texto {
    @include fontSmall;
}