@use 'src/resources/variables/fonts' as *;
@use 'src/resources/variables/displayFlex' as *;

.footer_texto {
    @include fontSmall;
    height: 5vh;
    margin-top: 2%;
   
}

.global_section,
.formulario {
     margin-bottom: 2%;
    @include flexAbsolut(2px);
}