// $destaque : rgb(47, 237, 237);
$destaque : #E67E22;
//$generalFonts : rgb(255, 255, 255);
$generalColor : #3E7D34;
//$background : black;
$background:#e2e2e2; 
// $hoverActivated : rgb(255, 255, 255);
$hoverActivated : #F5F5F5;
