$generalFonts: 'Poppins', sans-serif;


@mixin font {
    font-size: 20px;
    color: #0f1b0d;
    font-family: $generalFonts
}

@mixin fontBig {
    font-size: 30px;
    color: #0f1b0d;
    font-family: $generalFonts
}

;

@mixin fontMedium {
    font: size 16px;
    color: #0f1b0d;
    font-family: $generalFonts
}

;

@mixin fontSmall {
    font-size: 12px;
    color: #0f1b0d;
    font-family: $generalFonts
}

;