<section>

  <div class="cheet_skills">

    <div *ngFor="let item of skills">

      <figure
        class="cheet_cardSkill"
        (click)="openPlantModal(item.slug)"
      >

        <img
          class="cheet_cardImg"
          [src]="item.img"
          [alt]="item.texto"
        >

        <figcaption class="cheet_cardCaption">
          {{ item.texto }}
        </figcaption>

      </figure>

    </div>

  </div>

</section>


<app-plant-modal
  *ngIf="selectedGuide"
  [guide]="selectedGuide"
  [isOpen]="isModalOpen"
  (close)="closeModal()"
>
</app-plant-modal>