@use '/src/resources/variables/fonts' as *;

.projeto {

    width: 88%;

    margin: 80px auto 30px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 60px;

    padding: 60px;

    border-radius: 36px;

    

    backdrop-filter: blur(18px);

 

    box-shadow:
        0 20px 40px rgba(0,0,0,0.08),
        inset 0 1px 1px rgba(255,255,255,0.25);
}

.projeto_descricao {

    flex: 1;

    @include fontSmall;

    line-height: 2;

    font-size: 1rem;

}

.projeto_carrocel {

    width: 45%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projeto_carrocel_imagem {

    width: 100%;
    height: 420px;

    overflow: hidden;

    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 14px 30px rgba(0,0,0,0.1);
}

.projeto_carrocel_imagem img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.projeto_carrocel_indicadores {

    display: flex;
    justify-content: center;

    gap: 20px;
}

.selectcarrocel {

    width: 54px;
    height: 54px;

    border-radius: 50%;


    backdrop-filter: blur(12px);

    border: none;

    box-shadow:
    0 4px 12px rgba(0,0,0,0.05);
}

.selectcarrocel:hover {

    transform: translateY(-4px);

  
}

@media (max-width: 1200px) {

    .projeto {
        flex-direction: column;
    }

    .projeto_carrocel {
        width: 100%;
    }
}