<div class="projeto">

    <div class="projeto_descricao">
        Cada lugar é um lugar e todos
            são iguais porém cada vez é so isso mesmo se rearirmar
            Cada lugar é um lugar e todos são iguais porém cada
            vez é so isso mesmo se rearirmar Cada lugar é um lugar e todos
            são iguais porém cada vez é so isso mesmo se rearirmar
    </div>

    <div class="projeto_carrocel">

        <div class="projeto_carrocel_imagem">
            <img src="#">
        </div>

        <div class="projeto_carrocel_indicadores">
            <button class="selectcarrocel">{{">"}}</button>
            <button class="selectcarrocel">{{"<"}} </button>
        </div>
    </div>

</div>