<div class="projeto">

    <div class="projeto_descricao">
        Trazer plantas para dentro de casa não é apenas uma questão estética, mas também de bem-estar. Para garantir que
        elas se desenvolvam de maneira saudável, é essencial entender suas necessidades de luz e escolher os locais
        certos para posicioná-las.

        Plantas que gostam de muita luz, como suculentas e cactos, devem ficar próximas a janelas ou em áreas bem
        iluminadas. Já espécies que preferem meia-sombra, como a zamioculca e a costela-de-adão, se adaptam bem a
        espaços internos com luz indireta. Para ambientes mais fechados, plantas de baixa luminosidade, como a
        espada-de-são-jorge e o lírio-da-paz, são ideais.

        Além da luz, a escolha do ambiente e a frequência da rega devem levar em conta fatores como temperatura e
        umidade do espaço. No próximo tópico, vamos explorar em detalhes como identificar o melhor lugar para cada tipo
        de planta e como criar um ambiente ideal para elas prosperarem. 
    </div>

    <div class="projeto_carrocel">

        <div class="projeto_carrocel_imagem">
            <img src="#">
        </div>

        <div class="projeto_carrocel_indicadores">
            <button class="selectcarrocel">{{">"}}</button>
            <button class="selectcarrocel">{{"<"}} </button>
        </div>
    </div>

</div>