@import 'src/resources/variables/colors.scss';

* {
    background-color: $background;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;

    overflow-x: hidden;
}